################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
!/FMM2/bin/
/FMM2/bin/*
!/FMM2/bin/TagTool/
/FMM2/obj/
